* {
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
}

body{
    background: linear-gradient(135deg,#1904E5 10%, #FAB2FF 100% );
    height: 100vh;
}
.btn {
    background: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
    
}
.btn:hover {
    box-shadow: 3px 8px 22px rgba(94,28,68,.15);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
#btn2{
    background: #007BFF;
}
.content {
     background-image: url(https://wallpaperaccess.com/full/1306125.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
 
}



/*.container {
    background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    height: 100vh;
    width: 100%;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}


.header {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
}
nav {
    flex: 1;
    padding-left: 10px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: #FFC72C;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

nav ul li a:hover:after{
    width: 100%; 
}
.btn {
    background: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
    
}
.btn:hover {
    box-shadow: 3px 8px 22px rgba(94,28,68,.15);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.content .text {
    position: relative;
    max-width: 600px;
}
.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: #fff;
}
.content .text h1 span {
    font-size: 50px;
}
.content .text p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
    color: #e7e3e3;
 }
.btn3 {
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    margin-top: 60px;
    margin-left: 140px;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}
.pepsi {
    display: flex;
    height: 100%;
    position: absolute;
    width: 600px;
    margin-top: 80px;
    padding-left: 440px;
    justify-content: flex-end;
}

.header button a{
    text-decoration: none;
}*/